    /*   
Project: portfolio page
Author: christopher Kennedy


/* Reset Browser Defaults*/

* {
  padding:0;
  margin: 0;
box-sizing: border-box;
}

/* opening screen*/
body p{font-family:montserrat;}
.parallax {
    /* The image used */
    background-image: url("images/patrick-hendry-background2.png");
    

    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*first page of profile*/
.overscroll {position: relative; z-index: 1;
background-color: #ffffff;
color: darkgray;
}

.about-me {background:#fff;
color: darkgray;
padding-bottom: 2em;
padding-left: 3em;
    padding-right: 3em;
    
}
.about-me h1 {font-family: montserrat;
    font-weight: 100;
font-size:1.4em;
position: relative;
left: 10em;
bottom: .9em;
color:darkgray;
padding-top: 2em;}


.about-me-image {float: left;
position: relative;
right: 3em;
bottom: .9em;
}

.about-me p {font-size: 
.6em;
position:relative;
    top: -.7em;
color:darkgray;
line-height: 1.8em;
padding-left:1em;
padding-right: 1em;
width: 100%}
/* Typography */
body {
   font-family: 'monserrat', sans-serif, serif;
  font-weight: 100;
  color: #ffffff;

}

/* monogram and what i do section */
.monogram {
z-index: 1;
position: fixed;
left: 29em;
top: 10em;
}

section h1 {
display:flex;
justify-content: center;
font-size: 2em;
position: absolute;
left: 1.5em;
}

a {text-decoration: none;}

/* button */
.contact-button {
    position: fixed;
    left: 16.3em;
    top: 14em;
    color:white;
    font:"Montserrat";
    font-weight: 100;
    font-size:2em;
    text-align: center;
    
    border: solid 2px #ffffff;
    border-radius: 50px;
    padding: 10px 50px;
    
    -webkit-transition-duration: 200ms;
}

.contact-button:hover {
    background-color:rgba(255,255,255,0.2);

}

.contact-button p:hover{color: darkorange;
-webkit-transition-duration:500ms;}
/*---- nav---- */
nav
{position: fixed;
    z-index: 2;
top: 0px;
    left: 25em;
    margin: 0;
    width: 100%;
}

nav 
{
padding: 0.8em 0;
margin-bottom: 0.8em;
}

nav ul 
{text-align: center;
}

nav ul li 
{display: inline;
margin: 0.5em;
font-family: montserrat;
font-size: 1.2em;}

nav a {text-decoration: none;
color:darkgray;}
nav a:hover {color:darkorange;}

/* Portfolio */
.portfolio {background:#f3f3f3;
padding-bottom: 3em;}

.portfolio h1{
font-weight: 100; position: relative;
left:0em;
padding-top:1em;
color: gray;}

.masonry{
overflow-x: hidden;
padding-left:0em;
  display: block;
-webkit-column-gap: 0.25rem;
-moz-column-gap: 0.25rem;
column-gap: 0.25rem;
}

/* 5 columns */
.masonry.masonry-columns-5{
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
}
@media(max-width: 1170px){
  .masonry.masonry-columns-5{
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}
}


/*-4 columns------*/
.masonry.masonry-columns-4{
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}

/*-3 columns------*/
.masonry.masonry-columns-3{
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}

/*-2 columns------*/
.masonry.masonry-columns-2{
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}

/*-1 columns------*/
.masonry.masonry-columns-1{
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}


/*--------Responsive---------*/
@media(max-width: 991px){
  .masonry.masonry-columns-4, 
  .masonry.masonry-columns-5{
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}
}

@media(max-width: 767px){
  .masonry.masonry-columns-4, 
  .masonry.masonry-columns-5,
  .masonry.masonry-columns-3{
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
}

@media(max-width: 540px){
  .masonry.masonry-columns-4, 
  .masonry.masonry-columns-5,
  .masonry.masonry-columns-3,
  .masonry.masonry-columns-2{
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}
}


.quote {background-color: white;
color: darkgray;
padding: 1em;
padding-top:1em;
text-align: left;
width:80%;
    position: relative;
left: 3em;

}

.quote p {padding-left: 2em;
line-height: 1.4em;}

hr {border-color:darkorange;
width: 100%;
position: relative;
right: 1.4em;
left:0em;
margin: 1em;}
.services {padding-top: 2em;}

figure {position: relative; left: 7.5em;
padding-top: 2em;}

figure.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    padding-right: 2em;
    margin-right: 3em;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 190px;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-size: .5em;
    padding-right:0em;
    font-family: montserrat;
}

.services p {
  font-size: 
.6em;
position: relative;
top: 2em;
left:5em;
width: 50em;
color:darkgray;
line-height: 1.8em;
padding-left:0em;
padding-right: 0em;
padding-bottom: 5em;}

.social {background-color:darkorange;}
.social li {display: inline;
position: relative;
left: 8.8em;
}
.social li img {padding-left: 2em;
padding-top: .4em;
padding-bottom: .2em;}

figure.item img{-webkit-animation-duration: 2s;}

/*--- Media Queries ---*/
/*---Ipad---*/

@media (max-width:979px) {
   
    
   nav {position: fixed;
    z-index: 2;
top: 0px;
    left: 14em;
    margin: 0;
       width: 100%;}
    
    .monogram {
z-index: 1;
position: fixed;
left: 23em;
top: 14em;
}
  
.contact-button {
    position: fixed;
    left: 14em;
    top: 14em;  }  
        

.quote p {padding-left: 2em;
    position: relative;
    left: 2em;
    font-size: .9em;}
    
    .about-me p{width: 100%;
    line-height: 1.8em;
    padding-left: 1em;
    padding-right: 0em;}
    
 

    figure.item img{position: relative;
    right: 4em;
}    

.caption {position: relative;
right: 6em;
    padding-top: 1em;}
    
    .services p {position: relative;
    left:5em;
    margin: 0;
    width: 38em;}  
    
    .social li{position: relative;
    left: 7em;}
    
    .quote {position: relative;
    right: 5em;}  
    
    .about-me p{padding-bottom: .6em;
    width: 160%;
    position: relative;
    left: .5em;}
    
    .services h1 {position: relative; left: 1.9em;}
    
    .about-me h1{left: 3em;}
    
    figure.item {width: 150px;
    }
    
    figure.item img {position: relative;
    right:  3em;}
    
    .social{width: 134%;}
    
    .parallax {
    /* The image used */
        background-image: url("../chriskennedyweb/images/patrick-hendry-background2.png") ; width: 134%;}
    
}